<section class="footer">
  <div class="container">
    <div class="row footer-content">
      <div class="col-6 text-center">
        <hr class="light">
        <h5 class="">Where To Find Us</h5>
        <hr class="light">
        <p>
          <fa-icon [icon]="faMobile"></fa-icon> 555-555-555
        </p>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon> email@gmail.com
        </p>
        <p>
          <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 100 Street Name
        </p>
        <p><span></span>&nbsp;City, State, 0000</p>
      </div>
      <div class="col-6 text-center">
        <div class="map" id="map"></div>
      </div>
    </div>
    <hr class="light-100">
    <div class="footer-notes text-right">
      <span class="copyrights">&copy;&nbsp;Zimbabwe Institute of Geomatics {{ currentYear }}&nbsp;All Rights Reserved&nbsp;|</span>
      <span class=" developer-details">&nbsp; Developed by <a href="">Allan Kanyemba</a></span>
    </div>
  </div>
</section>
