<main class="container-fluid">
  <!--About Banner Section-->
  <section class="banner-area">
    <div class="banner-inner pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content mx-auto">
              <h3 class="text-uppercase lead text-white">
                About Us
              </h3>
              <p class="text-white">
                Team work, Professionalism, Honesty and Integrity
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Mission, Vision, Aims Section-->
  <section class="container pt-5 pb-5">
    <!--Mission, Vision, Values-->
    <div class="row pt-5 mission-vision-values">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="media">
          <fa-icon [icon]="faRocket" size="3x" class="align-self-start icon mr-3"></fa-icon>
          <div class="media-body">
            <h4 class="h4 text-capitalize zig-blue mt-0">Mission Statement</h4>
            <p class="text-justify">To promote Geomatics professional development, practice and ethics and expansion in
              all disciplines for the benefit of members and the public.</p>
          </div>
        </div>
        <div class="mission">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="media">
          <fa-icon [icon]="faLightbulb" size="3x" class="align-self-start icon mr-4"></fa-icon>
          <div class="media-body">
            <h4 class="h4 text-capitalize zig-blue mt-0">Vision</h4>
            <p class="text-justify">To be recognized as a dynamic and innovative professional body which provides value
              added services in the Geomatics and related fields.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="media">
          <fa-icon [icon]="faShieldAlt" size="3x" class="align-self-start icon mr-3"></fa-icon>
          <div class="media-body">
            <h4 class="h4 text-capitalize zig-blue mt-0">Values</h4>
            <p>
              <span>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>&nbsp;Honesty and Integrity
              </span><br />
              <span>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>&nbsp;Teamwork
              </span><br />
              <span>
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>&nbsp;Professionalism
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Aims and Objectives Section-->
    <div class="row aims-objectives">
      <div class="col-12 text-center main-title pt-5 pb-4">
        <h2 class="display-3 h2 text-capitalize">Aims & Objectives</h2>
        <h4 class="display-4 h4 text-capitalize">Aims & Objectives</h4>
      </div>
      <p class="paragraph text-justify">
        The objectives of the Institute shall be to secure the advancement and facilitate the acquisition of the
        knowledge that constitutes to the Geomatics Profession, namely:<br /><br /></p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p class="paragraph">
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;Measuring and delineating the physical features
              of the
              earth, and representing these in an appropriate manner both in hard copy format and in digital format.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;Facilitate/encourage accessible geo-spatial
              information
              services.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To contribute to the development of the country
              and serve
              its people through the application of Geomatics.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;Surveying properties for various purposes, ie
              engineering
              and construction.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;Promoting interest in Geomatics and to enhance
              the
              usefulness of this profession to the public.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;Enhance or further technical and professional
              knowledge in
              these fields thereby improving the ability of members to provide competent, quality and valuable service.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To promote honorable practice by the control
              and exercise of
              discipline over the professional conduct of members.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To initiate from time to time or as may be
              necessary a scale
              or scales of professional fees.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To set and modify as may be necessary the
              qualifications
              required for membership within the various grades and disciplines of the Institute and uphold the
              continuous professional development of its members.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To maintain affiliation with FIG, ICA and any
              other relevant
              body/bodies that the Institute affiliates to.
            </span><br />
          </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <p class="paragraph">
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To assist Geomatics students in getting proper
              industrial
              training attachments and linking course outlines with real world Geomatics challenges.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To market the Institute and raise sponsorships
              and promote
              relationship with stakeholders.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To open bank, building society or post office
              accounts in
              the name of the Institute and to draw, accept, endorse, make and execute bills of exchange, promissory
              notes,
              cheques and other negotiable instruments connected with the business and affairs of the Institute.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To raise or borrow money in such manner as the
              Institute may
              think fit.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To invest the funds of the Institute which are
              not
              immediately required upon such security as may from time to time be determined.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To control the overall running of the Institute
              in Zimbabwe
              by acting as necessary to prevent infringements of and to enforce the statutes, regulations of the
              Institute,
              FIG and all laws to protect the Institute from being abused.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To promote the organizational structures of the
              Institute.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To ensure compliance with the set tariff.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To market the Geomatics industry and all its
              practitioners.
            </span><br />
            <span class="pb-3">
              <fa-icon [icon]="faThumbtack" rotate="270"></fa-icon>&nbsp;To do all acts and things as are incidental or
              conducive to
              the attainment of the above-mentioned objects.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Our Team Section-->
  <section class="our-team container pb-5">
    <div class="col-12 text-center main-title pb-4">
      <h2 class="display-3 h2 text-capitalize">Our Team</h2>
      <h4 class="display-4 h4 text-capitalize">Our Team</h4>
    </div>
    <div class="team-profiles text-center">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide class="team-item p-3">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item p-3">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide class="team-item">
          <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/images/team/team1.png" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a>
                      <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a>
                      <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a>
                <h4>Wilson Mhuri</h4>
              </a>
              <p>President</p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  <!--Our Offices-->
  <section class="mobile-view-only">
    <div class="row footer-content pb-2">
      <div class="col-12 text-center main-title pb-4">
        <h2 class="display-3 h2 text-capitalize">Our Offices</h2>
        <h4 class="display-4 h4 text-capitalize">Our Offices</h4>
      </div>
      <div class="col-12 text-center text-white">
        <p>
          <fa-icon [icon]="faMobile"></fa-icon>&nbsp;&nbsp;555-555-555
        </p>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;&nbsp;email@gmail.com
        </p>
        <p>
          <fa-icon [icon]="faMapMarkerAlt"></fa-icon>&nbsp;&nbsp;100 Street Name City, State, 0000
        </p>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="map" id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.8726719110123!2d31.121454764797566!3d-17.70347411134655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1931b1fec15dce6b%3A0x723511ea14eb9bd9!2sZimbabwe%20Institute%20of%20Geomatics!5e0!3m2!1sen!2szw!4v1597502849412!5m2!1sen!2szw"
          width="100%" height="295" frameborder="0" style="border-radius:10px; border: 1px solid #008000;"
          allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <!--agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="location($event)"> 
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker> 
          </agm-map-->
      </div>
    </div>
  </section>
  <!--Contact Section-->
  <section class="contact-us pt-5 pb-5">
    <div class="col-12 text-center main-title pb-4">
      <h2 class="display-3 h2 text-capitalize">Get in Touch</h2>
      <h4 class="display-4 h4 text-capitalize">Get in Touch</h4>
    </div>
    <div class="contact-us-input-area">
      <div id="col-12">
        <form class="contact-form mx-auto">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter your Name</mat-label>
            <input type="text" matInput placeholder="Enter your Name">
            <mat-hint>Jonathan Wick</mat-hint>
          </mat-form-field>
          <br /><br />
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Enter your Email</mat-label>
            <input type="email" matInput placeholder="Email">
            <mat-hint>jonathanwick@zigmail.com</mat-hint>
          </mat-form-field>
          <br /><br />
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Subject</mat-label>
            <input type="text" matInput placeholder="Subject">
            <mat-hint>Having Challenges with Registration</mat-hint>
          </mat-form-field>
          <br /><br />
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea rows="15" matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
          <button mat-raised-button class="contact-us-btn">
            <fa-icon [icon]="faEnvelopeSquare"></fa-icon>&nbsp;Send Message
          </button>
        </form>
      </div>
    </div>
  </section>
  <app-footer class="desktop-view-only"></app-footer>
</main>
