@import url("../base/base.css");

.mission-vision-values .icon,
.aims-objectives fa-icon {
  color: #2a8015;
}

.contact-form {
  width: 70%;
}

.contact-form button {
  width: 40%;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: #fff;
  background-color: #011600;
}

::ng-deep .mat-stroked-button:not(.mat-button-disabled) {
  border-color: #008000;
}


@media(min-width: 769px) {
  .banner-area {
    height: 400px;
    text-align: center;
  }

  .banner-area .banner-inner .banner-content h3 {
    margin-top: 120px;
    line-height: 72px;
    margin-bottom: 20px;
    text-align: center;
  }

  .banner-area .banner-inner .banner-content {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
  }

  .mission-vision-values p {
    font-size: 110%;
  }
}

@media(max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact-form button {
    width: 50%;
  }

  .mission-vision-values p {
    font-size: 90%;
  }
}
