@import url("../base/base.css");

.mission-vision-values .icon,
.aims-objectives fa-icon {
  color: #2a8015;
}

/* Team Members Styling */

.team-profiles {
  background-color: white;
}

.team-item {
  padding: 0px 0px 10px 0px;
}

.single-team-member {
  padding: 0px 10px 0px 10px;
  text-align: center;
  box-shadow: 0 2px 15px -5px #222;
  transition: all 0.4s;
}

.team-member-info h4 {
  font-size: 20px;
  color: #000000;
}

.team-member-info {
  padding: 20px 10px;
}

.team-member-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.team-member-icon {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}

.team-member-img::before {
  content: "";
  background: #011600;
  /* Old browsers */
  background: -moz-linear-gradient(left, #008000 1%, #2a8015 34%, #2a8015e1 57%, #314133e6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #008000 1%, #2a8015 34%, #2a8015e1 57%, #314133e6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #008000 1%, #2a8015 34%, #2a8015e1 57%, #314133e6 100%);
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all 0.4s;
  position: absolute;
  opacity: 0.75;
}

.team-member-icon a {
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid transparent;
}

.team-member-icon a:hover {
  border: 1px solid #fff;
}

.single-team-member:hover .team-member-img::before {
  width: 100%;
}

.single-team-member:hover .team-member-icon {
  left: 0;
}

.display-table fa-icon {
  color: #ffffff;
}

.display-table fa-icon:hover {
  color: #d32a0e;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.contact-form {
  width: 70%;
}

.contact-form button {
  width: 40%;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: #fff;
  background-color: #011600;
}

::ng-deep .mat-stroked-button:not(.mat-button-disabled) {
  border-color: #008000;
}


@media(min-width: 769px) {
  .banner-area {
    height: 400px;
    text-align: center;
  }

  .banner-area .banner-inner .banner-content h3 {
    margin-top: 120px;
    line-height: 72px;
    margin-bottom: 20px;
    text-align: center;
  }

  .banner-area .banner-inner .banner-content {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
  }

  .mission-vision-values p {
    font-size: 110%;
  }
}

@media(max-width: 768px) {
  .contact-form {
    width: 100%;
  }

  .contact-form button {
    width: 50%;
  }

  .mission-vision-values p {
    font-size: 90%;
  }
}
