@import url("../base/base.css");

.home-banner-area {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1;
  background: url('../../assets/images/banner-background.png') no-repeat center center;
  background-size: cover;
}

.home-banner-area .banner-inner {
  width: 100%;
}

.home-banner-area .banner-inner .home-left-img {
  margin-left: -180px;
}

.home-banner-area .banner-inner .home-left-img img {
  border-top-left-radius: 30px;
  border-top-right-radius: 300px;
}

.home-banner-area .banner-inner .banner-content {
  text-align: center;
  color: #ffffff;
  margin-left: 70px;
  background: rgba(7, 85, 4, 0.603);
  padding: 10px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.home-banner-area .banner-inner .banner-content h3 {
  margin-top: 0px;
  line-height: 72px;
  margin-bottom: 20px;
}

.homesections {
  width: 85%;
  margin: auto;
}

.who-we-are hr {
  border: 1px solid #0000ff;
  width: 50%;
  margin-top: .1rem;
  margin-bottom: 2rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-code {
  font-size: 4em;
  margin: 1rem;
}

.zig-sub-branches a:hover {
  text-decoration: none;
  color: green;
  font-size: 16px;
  transition: all 0.4s;
}

.what-is-geomatics {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-attachment: fixed;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.what-is-geomatics>.description-text {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}

.what-is-geomatics>.description-text::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.what-is-geomatics>.description-text::after,
.what-is-geomatics>.subscription-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 85, 4, 0.603)
}

.what-is-geomatics>.description-text h4,
.what-is-geomatics>.description-text p,
.what-is-geomatics>.subscription-text h2,
.what-is-geomatics>.subscription-text h5,
.what-is-geomatics>.subscription-text .subscribe-form {
  color: white;
  position: relative;
  z-index: 1;
}

/*--- Play Video ---*/

.video-area a {
  font-size: 22px;
  color: #008000;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  line-height: 53px;
  padding-left: 6px;
  background-color: #fff;
  display: inline-block;
  margin-top: 0px;
  z-index: 1;
}

.video-area a:before,
.video-area a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.video-area a:before {
  -webkit-animation: scaling 1s linear 0s infinite;
  -o-animation: scaling 1s linear 0s infinite;
  animation: scaling 1s linear 0s infinite;
}

.video-area a:after {
  -webkit-animation: scaling 1s linear 0.3s infinite;
  -o-animation: scaling 1s linear 0.3s infinite;
  animation: scaling 1s linear 0.3s infinite;
}


/* Industries Section Styling */
::ng-deep .mat-tab-header-pagination-chevron {
  border-color: #008000;
}


@keyframes scaling {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  15% {
    opacity: 0.7;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}


@media(min-width: 768px) {
  .description-text p {
    margin: auto;
    width: 85%;
  }

  .video-area a {
    margin-top: 40px;
  }

  .home-banner-area .banner-inner .banner-content {
    position: absolute;
    top: 20%;
    background: rgba(0, 0, 0, 0.0);
    margin-left: 20px;
  }

  .home-banner-area .banner-inner .banner-content h3 {
    text-align: left;
    font-size: 50px;
  }
  
  .home-banner-area .banner-inner .banner-content p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .homesections {
    padding: 20px 3px;
    width: 100%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }

  .home-banner-area .banner-inner .banner-content h3 {
    line-height: 40px;
    margin-bottom: 20px;
  }
}

@media(max-width: 576px) {
  .social a {
    font-size: 2em;
    padding: .7rem;
  }

  .industries-text {
    font-size: 80%;
    font-weight: 400;
  }

  .home-banner-area .banner-inner .banner-content {
    margin-left: 10px;
  }
}
