<main id="homepage" class="homepage container-fluid">
  <!--Homepage Banner-->
  <section class="home-banner-area">
    <div class="banner-inner pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="home-left-img desktop-view-only">
              <img class="img-fluid" src="assets/images/banner2.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-content">
              <h3 class="text-uppercase lead text-white">
                Zimbabwe Institute <br>of <br class="mobile-view-only">Geomatics
              </h3>
              <p class="text-white">
                Where every Geomatics voice matters and where every Geomatics matter is voiced
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Organisation Brief Description-->
  <section class="who-we-are homesections pt-5">
    <div class="zig-mini-bio">
      <div class="col-12 text-center main-title pt-5 pb-4">
        <h2 class="display-3 h2 text-capitalize">Who We Are</h2>
        <h4 class="display-4 h4 text-capitalize">Who We Are</h4>
      </div>
      <div class="paragraph">
        <p class="text-justify font-weight-light">
          Zimbabwe Institute of Geomatics (ZIG) is a professional body that seeks to lobby and address all the gaps
          currently being experienced in the Geomatics industry in Zimbabwe. It serves the interest of the young and
          old,
          the experienced and the unexperienced, the vulnerable and the powerful. ZIG does this through addressing the
          need for change in the roles involved in shaping this profession using the energy expected from the young
          Geomaticians coupled with the knowledge and experience from our respected seniors of this wonderful profession

          ZIG was formed in response to the need for change in ways of handling Geomatics matters, the use of the
          “Surveying” term in this modern world is slowly being phased out as the new order gives birth to the use of a
          term “Geomatics” which clearly encompasses all the disciplines.</p>
      </div>
    </div>
    <div class="zig-sub-branches pt-4">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 pb-5">
          <a href="#">
            <fa-icon [icon]="faTwitter" class="fa-code"></fa-icon>
            <h3>ZIG Youth Network</h3>
            <p class="text-monospace">The Youth Community of ZIG.</p>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 pb-5">
          <a href="#">
            <fa-icon [icon]="faFacebook" class="fa-code"></fa-icon>
            <h3>GeoChat</h3>
            <p class="text-monospace">A Geomatics Talk Show.</p>
          </a>
        </div>
        <div class="col-sm-12 col-md-4 pb-5">
          <a href="#">
            <fa-icon [icon]="faYoutube" class="fa-code"></fa-icon>
            <h3>GeoHub</h3>
            <p class="text-monospace">Platform for sharing geo-related data, tutorials, accademic research papers,
              thesis,
              projects.</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--Geomatics Brief Description Section-->
  <section class="what-is-geomatics pb-5 padding-b pt-5">
    <div id="des-text" class="description-text">
      <div class="col-12 text-center">
        <h4 class="display-4 h4 text-capitalize font-weight-bold">What is Geomatics?</h4>
      </div>
      <div class="paragraph">
        <p class="text-justify">Geomatics is both a professional discipline and an applied science. It
          is made up of several
          fields that include
          Geographical Information Science, Engineering Survey, Land/Cadastral Survey, Mining Survey, Remote Sensing &
          Photogrammetry</p>
      </div>
      <div class="col-12 video-area text-center">
        <a class="expand-video" href="https://www.youtube.com/watch?v=8qs2dZO6wcc">
          <fa-icon [icon]="faPlay" size="1x"></fa-icon>
        </a>
      </div>
    </div>
  </section>
  <!--Industries Section-->
  <section class="industries homesections pb-5 pt-5">
    <div class="col-12 text-center main-title pt-5 pb-4">
      <h2 class="display-3 h2 text-capitalize">Industries We Serve</h2>
      <h4 class="display-4 h4 text-capitalize">Industries We Serve</h4>
    </div>
    <!--This Section is Only Visible in Mobile View-->
    <div class="mobile-view-only">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Photogrammetry & Remote Sensing
            </mat-panel-title>
            <mat-panel-description class="float-right">
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-monospace text-left industry-text">Photogrammetry is the art and science of measurements taken
            using digital
            or anologue photographs as the prime non contact medium.<br /><br />
            Remote sensing is the science of passively measuring object's temporal and spatial characteristics using the
            electromagnetic spectrum.</p>
          <mat-action-row>
            <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              GISc & Cartography
            </mat-panel-title>
            <mat-panel-description class="float-right">
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="industries-text text-left text-monospace">Geographic Information System (GIS) is a computer system
            build to capture, store, manipulate, analyze, manage and display all kinds of spatial or geographical data.
            <br /><br />
            Cartography is the study and practice of creating maps to communicate spatial, topographic, and geographic
            information effectively.</p>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mining Survey
            </mat-panel-title>
            <mat-panel-description class="float-right">
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="industries-text text-left text-monospace">Mine survey is the practice art or science of determining
            relative positions of points on or under the surface of the earth on a mine boundaries.</p>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Engineering Survey
            </mat-panel-title>
            <mat-panel-description class="float-right">
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-left industries-text text-monospace">Engineering survey is a Geomatics profession that examines
            objects and records/places the location of features so as to construct a map, plan, or description for the
            development,
            design, construction, operation and maintenance of civil and other engineered projects.</p>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cadastral Survey
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="industries-text text-left text-monospace">Cadastral surveying is a branch of the surveying
            profession that is concerned with land management, and more
            specifically with issues of land ownership, measurement and delineation of property boundaries. Note:- Only
            licensed surveyors can undertake a boundary survey or place a survey mark that defines a property boundary.
          </p>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-raised-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--This Section is only visible in Desktop View-->
    <div class="desktop-view-only">
      <mat-tab-group animationDuration="2000ms" mat-align-tabs="start">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>&nbsp;
            Photogrammetry & Remote Sensing
          </ng-template>
          <p class="text-monospace text-left industry-text p-3">Photogrammetry is the art and science of measurements
            taken
            using digital or anologue photographs as the prime non contact medium.<br /><br />
            Remote sensing is the science of passively measuring object's temporal and spatial characteristics using the
            electromagnetic spectrum.</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>&nbsp;
            GISc & Cartography
          </ng-template>
          <p class="industries-text text-left text-monospace p-3"><strong>Geographic Information System (GIS)
            </strong>is a
            computer system build to capture, store, manipulate, analyze, manage and display all kinds of spatial or
            geographical data.
            <br /><br />
            <strong>Cartography</strong> is the study and practice of creating maps to communicate spatial,
            topographic, and geographic
            information effectively.</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>&nbsp;
            Mining Survey
          </ng-template>
          <p class="industries-text text-left text-monospace p-3">Mine survey is the practice art or science of
            determining
            relative positions of points on or under the surface of the earth on a mine boundaries.</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>&nbsp;
            Engineering Survey
          </ng-template>
          <p class="text-left industries-text text-monospace p-3">Engineering survey is a Geomatics profession that
            examines
            objects and records/places the location of features so as to construct a map, plan, or description for the
            development,
            design, construction, operation and maintenance of civil and other engineered projects.</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>&nbsp;
            Cadastral Survey
          </ng-template>
          <p class="industries-text text-left text-monospace p-3">Cadastral surveying is a branch of the surveying
            profession that is concerned with land management, and more
            specifically with issues of land ownership, measurement and delineation of property boundaries. Note:- Only
            licensed surveyors can undertake a boundary survey or place a survey mark that defines a property boundary.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
  <!--Newsletter Section-->
  <section class="subscriptions what-is-geomatics pb-5 padding-b pt-5">
    <div class="subscription-text pt-4">
      <div class="row  text-center video-area">
        <div class="col-12">
          <h2>Subscribe Our Newsletter</h2>
          <h5 class=""> We won't sent you spam</h5>
        </div>
        <div class="col-lg-12">
          <div class="subscribe-form">
            <form action="#">
              <input type="text" placeholder="Your email address here">
              <button type="submit">Subcribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Social Media Connect Section-->
  <section class="connect text-center pb-5 padding-b pt-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2>Connect</h2>
        </div>
        <div class="col-12 social pb-4">
          <a href="#">
            <fa-icon [icon]="faFacebook" class="facebook-icon"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faTwitter" class="twitter-icon"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faYoutube" class="youtube-icon"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--Footer Section-->
  <app-footer class="desktop-view-only pb-5"></app-footer> 
</main>
