.center {
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  height: 50vh;
}


.center button{
  align-self: center;
  margin: auto;
  flex-basis: auto;
  width: 300px;
  height: 100px;
  font-weight: bold;
  font-size: x-large;
  border-radius: 50px;
}
