.mat-stepper-horizontal {
  background-color: transparent;
  color: #000000;
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  background-color: #000000;
}

::ng-deep .mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: #000000;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: green;
}

::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
  color: #008000;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #7b1fa2;
  color: #fff;
}

::ng-deep .mat-form-field-label {
  color: #000000;
}

::ng-deep .mat-radio-outer-circle {
  border-color: #008000;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #008000;
}

::ng-deep .mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: #008000;
}

.tel-number ::ng-deep .mat-form-field-label-wrapper {
  top: -0.44375em;
  padding-top: .84375em;
}

::ng-deep .mat-select-value {
  color: #000000;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #7b1fa2;
}

.reg-first-step {
  overflow-y: scroll;
  justify-content: center;
}

.gender {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.gender-items-padding {
  padding: 0px 10px;
}

.full-width {
  width: 100%;
}

.registration-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#btn-forward {
  float: right;
}

#btn-previous {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
