/*===============================
      DEFAULT STYLING
  ===============================*/

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  color: #131313;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  color: #4b4a4a;
  line-height: 2;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.youtube-icon {
  color: #bb0000;
}

.facebook-icon {
  color: #3b5998;
}

.twitter-icon {
  color: #00aced;
}

.padding-b {
  padding-bottom: 2rem;
}

.main-title h2 {
  font-size: 72px;
  color: green;
  opacity: 0.2;
  margin: 0;
  line-height: 60px;
}

.main-title h4 {
  color: #222222;
  margin-top: -40px;
  font-weight: bold;
}

.zig-green {
  color: #0d8141;
}
.zig-blue {
  color: #223972;
}

.zig-red {
  color: #d32a0e;
}

@media (min-width: 769px) {
  .mobile-view-only {
    display: none;
    visibility: hidden;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #008000;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}

/* Styling For Common Angular Material Classes */
::ng-deep .mat-tab-label,
.mat-tab-link {
  color: #000000;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #008000;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 16px;
}

@media (max-width: 768px) {
  p {
    font-size: 14px;
    color: #4b4a4a;
    line-height: 2;
  }

  .display-1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-3 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .desktop-view-only {
    display: none;
    visibility: hidden;
  }

  .main-title h2 {
    font-size: 28px;
    font-weight: bold;
  }
}
